const Lightning = require("@wolfx/lightning");

const database = Lightning.core.getState().database;

module.exports.findById = async id => {
    return await database.find("<%=tableName%>", ["*"], id);
};

module.exports.updateById = async data => {
    return await database.update("<%=tableName%>", data, id);
};

module.exports.insert = async data => {
    return await database.insert("<%=tableName%>", data);
};

module.exports.deleteById = async id => {
    return await database.delete("<%=tableName%>", id);
};
